@{
    ViewData["Title"] = "Weddings";
}
@model List<WeddingViewModel>
<link rel="stylesheet" href="~/css/styles.css">
@await Html.PartialAsync("_Nav", "Welcome")
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th scope="col">Wedding of</th>
            <th scope="col">Date</th>
            <th scope="col">Guest Count</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weddingViewModel in Model)
        {
            var wedding = weddingViewModel.Wedding;
            var isInvited = weddingViewModel.IsInvited;

            <tr>
                <td>@wedding.WedderOne & @wedding.WedderTwo</td>
                <td>@wedding.WeddingDate.ToString("MMM dd yyyy")</td>
                <td>@wedding.Invitados.Count</td>
                <td>
                    @if (Context.Session.GetInt32("UserId") == wedding.UserId)
                    {
                        <form method="POST" asp-controller="Home" asp-action="DeleteWedding"
                            asp-route-WeddingId="@wedding.WeddingId">
                            <button class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                        <form method="GET" asp-controller="Home" asp-action="EditWedding"
                            asp-route-WeddingId="@wedding.WeddingId">
                            <button class="btn btn-warning">
                                Edit
                            </button>
                        </form>
                    }
                    @if (isInvited)
                    {
                        <form method="POST" asp-controller="Home" asp-action="ChangeAttendanceStatus"
                            asp-route-WeddingId="@wedding.WeddingId">
                            <div class="form-group mb-2">
                                <input type="hidden" name="WeddingId" value="@wedding.WeddingId" />
                                <label for="AttendanceStatus"></label>
                                <button type="submit" name="AttendanceStatus" value="0" class="btn btn-success">Aceptar</button>
                                <button type="submit" name="AttendanceStatus" value="1" class="btn btn-danger">Rechazar</button>
                            </div>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>